<html>
<head>
    <title>Shoes</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>{{ brand.getName }}</h1>

        {% if stores is not empty %}
            <p>This Brand is available at these Stores:</p>
            <ul>
                {% for store in stores %}
                    <li>{{ store.getStoreName }}, Location: {{ store.getLocation }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a Store where this Brand is available for purchase:</h4>

        <form action='/add_stores' method='post'>
            <input id='brand_id' name='brand_id' type='hidden' value='{{ brand.getId }}'>
            <label for='store_id'>Select a Store: </label>
            <select id='store_id' name='store_id' type='text'>
                {% for store in all_stores %}
                    <option value='{{ store.getId }}'>{{ store.getStoreName }}</option>
                {% endfor %}
            </select>
            <button type='submit'>Add Store</button>
        </form>
        <p><a href='/'>Home</a></p>
        <p><a href='/brands'>Return to Brands</a></p>
    </div>
</body>
</html>
