<html>
<head>
    <title>Shoes</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
</head>
<body>
    <div class='container-fluid text-center jumbotron'>
        <h1>Portland's Shoe Catalog</h1>
    </div>
    <div class='container'>
        <h1><strong>{{ brand.getName }}</strong></h1><hr><br>
        <h2>Stores that carry this brand</h2>

        {% if stores is not empty %}
            <h3>This Brand is available at these Stores:</h3>
            <ul>
                {% for store in stores %}
                    <li>{{ store.getStoreName }}, Location: {{ store.getLocation }}</li>
                {% endfor %}
            </ul><br>
        {% else %}
            <div class="well">
                <h3>Oops! No stores have been added yet.</h3>
            </div>
        {% endif %}

        <h4>Add a Store where this Brand is available for purchase:</h4>

        <form action='/add_stores' method='post'>
            <input id='brand_id' name='brand_id' type='hidden' value='{{ brand.getId }}'>
            <label for='store_id'>Select a Store: </label>
            <select id='store_id' name='store_id' type='text'>
                {% for store in all_stores %}
                    <option value='{{ store.getId }}'>{{ store.getStoreName }}</option>
                {% endfor %}
            </select>
            <button type='submit'>Add Store</button>
        </form>
        <p><a href='/'>Home</a></p>
        <p><a href='/brands'>Return to Brands</a></p>
    </div>
</body>
</html>
