<html>
<head>
    <title>Shoes</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
</head>
<body>
    <div class='container-fluid text-center jumbotron'>
        <h1>Portland's Shoe Catalog</h1>
    </div>
    <div class='container'>
        <h1>Update this Store: {{ store.getStoreName }}</h1>

        <form action='/store/{{ store.getId }}' method='post'>
            <input name='_method' type='hidden' value='patch'>

            <label for='store_name'>Rename this Store:</label>
            <input id='store_name' name='store_name' type='text' value= '{{ store.getStoreName }}'>
            <label for='location'>Edit location:</label>
            <input id='location' name='location' type='text' value= '{{ store.getLocation }}'>

            <button type='submit'>Update</button>
        </form>

        <form action='/store/{{ store.getId }}'method='post'>
            <input name='_method' type='hidden' value='delete'>
            <button type='submit'>Delete this Store</button>
        </form>
        <p><a href='/'>Home</a></p>
    </div>
</body>
</html>
